@using ArticleBlogAppCore.Areas.Admin.Models
@model IEnumerable<UserIndexModel>

<div class="content-page">
    <div class="content">
        <div class="container-fluid">

            <!-- Page title box -->
            <div class="page-title-box">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Greeva</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Tables</a></li>
                    <li class="breadcrumb-item active">Data Tables</li>
                </ol>
                <h4 class="page-title">Data Tables</h4>
            </div>
            <!-- End page title box -->
            <a asp-action="CreateUser" asp-controller="Users" class="btn btn-success btn-rounded w-md">New User</a>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title">Default Example</h4>
                        <p class="text-muted font-13 m-b-30">
                            DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>.
                        </p>

                        <table id="datatable" class="table table-bordered dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Name</th>
                                    <th>Role Name</th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var f in Model)
                                {
                                <tr>
                                    <td>@f.Email </td>
                                    <td>@f.PhoneNumber </td>
                                    <td>@f.UserName </td>
                                    <td>@f.RoleName </td>
                                    <td>
                                        <a asp-action="Edit" asp-controller="Users" asp-route-id="@f.Id">Edit</a>
                                        <form asp-action="Delete" asp-controller="Users" asp-area="Admin">
                                            <input type="hidden" id="id" name="id" value="@f.Id" />
                                            <input class="btn btn-warning" type="submit" value="Delete" />
                                        </form>
                                    </td>
                                </tr>
                                }


                            </tbody>
                        </table>
                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div>
    </div>
</div>
<partial name="_Scripts" />